*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures 
.externalNativeBuild
.idea
/*.iml

/app/app-release.apk
app/app.iml
app/manifest-merger-release-report.txt
