<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.mifos.mobilewallet.mifospay">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".MifosPayApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".standinginstruction.ui.SIDetailsActivity"></activity>
        <activity
            android:name=".standinginstruction.ui.NewSIActivity"
            android:label="@string/title_activity_new_si"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".merchants.ui.MerchantTransferActivity" />
	    <activity
            android:name=".SplashScreenActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".auth.ui.LoginActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".home.ui.MainActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".common.ui.SearchActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".qr.ui.ShowQrActivity"
            android:theme="@style/AppTheme" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="org.mifos.mobilewallet.mifospay.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".qr.ui.ReadQrActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".passcode.ui.PassCodeActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".receipt.ui.ReceiptActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="receipt.mifospay.com"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".invoice.ui.InvoiceActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="invoice.mifospay.com"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".history.ui.SpecificTransactionsActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".invoice.ui.InvoicesFragment"
            android:theme="@style/AppTheme" />

        <service android:name=".data.firebase.api.services.MifosPayMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_bank" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".registration.ui.SignupActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".registration.ui.MobileVerificationActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".editprofile.ui.EditProfileActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".settings.ui.SettingsActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".faq.ui.FAQActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".bank.ui.LinkBankAccountActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".bank.ui.BankAccountDetailActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".bank.ui.SetupUpiPinActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".notification.ui.NotificationActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".password.ui.EditPasswordActivity"
            android:theme="@style/AppTheme" />
    </application>

</manifest>