<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!--
    Firebase automatically adds the AD_ID permission, even though we don't use it. If you use this
    permission you must declare how you're using it to Google Play, otherwise the app will be
    rejected when publishing it. To avoid this we remove the permission entirely.
    -->
    <uses-permission
        android:name="com.google.android.gms.permission.AD_ID"
        tools:node="remove" />

    <application
        android:name=".MifosPayApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="barcode_ui" />

        <activity android:name=".standinginstruction.ui.SIDetailsActivity" />
        <activity
            android:name=".standinginstruction.ui.NewSIActivity"
            android:label="@string/title_activity_new_si"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".merchants.ui.MerchantTransferActivity" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true"
            android:theme="@style/SplashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".feature.auth.login.LoginActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".common.ui.SearchActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".qr.showQr.ui.ShowQrActivity"
            android:exported="true"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".payments.ui.SendActivity"
            android:exported="true"
            android:theme="@style/AppTheme" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".feature.read.qr.ReadQrActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".feature.passcode.PassCodeActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".feature.receipt.ReceiptActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="receipt.mifospay.com"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".feature.invoices.InvoiceActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="invoice.mifospay.com"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".history.specific_transactions.ui.SpecificTransactionsActivity"
            android:theme="@style/AppTheme" />

        <service
            android:name=".data.firebase.api.services.MifosPayMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_bank" />

        <!-- Disable collection of AD_ID for all build variants -->
        <meta-data
            android:name="google_analytics_adid_collection_enabled"
            android:value="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".feature.auth.signup.SignupActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".feature.auth.mobile_verify.MobileVerificationActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".feature.profile.edit.EditProfileActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".feature.settings.SettingsActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".feature.faq.FAQActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".feature.bank.accounts.link.LinkBankAccountActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".feature.bank.accounts.details.BankAccountDetailActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".feature.upi_setup.ui.SetupUpiPinActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".feature.notification.NotificationActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
    </application>

</manifest>