<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.mifos.mobilewallet">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".MifosWalletApp"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".auth.ui.LandingActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".auth.ui.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".auth.ui.SignupActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".auth.ui.AddAccountActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".auth.ui.BusinessDetailsActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".auth.ui.BankAccountActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".auth.ui.SetupCompleteActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".home.ui.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity
            android:name=".user.ui.UserDetailsActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".invoice.ui.PaymentSuccessActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".qr.ui.ShowQrActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

    </application>

</manifest>