name: Mobile-Wallet CI[Master/Dev]

on:
  pull_request:
  push:
    branches:
      - 'dev'
      - 'master'
      - 'payment_hub'

jobs:
  build:
    name: Build APK
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

        # Set up JDK
      - name: Set Up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8

        # Install NDK
      - name: Install NDK
        run: echo "y" | sudo ${ANDROID_HOME}/tools/bin/sdkmanager --install "ndk;20.0.5594570" --sdk_root=${ANDROID_SDK_ROOT}

        # Update Gradle Permission
      - name: Change gradlew Permission
        run: chmod +x gradlew

        # Build App
      - name: Build with Gradle
        run: ./gradlew assemble

        # Upload Built APK
      - name: Upload Build Artifacts
        uses: actions/upload-artifact@v2.2.0
        with:
          name: mobile-wallet
          path: mifospay/build/outputs/apk/debug/

  lintCheck:
    name: StaticAnalysis
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Static Analysis[Core]
        run: ./gradlew core:lint

      - name: Upload Static Analysis Report For Core Module
        uses: actions/upload-artifact@v2.2.0
        if: failure()
        with:
          name: Static Analysis Report[Core]
          path: core/build/reports/

      - uses: actions/checkout@v2
      - name: Static Analysis[Mifospay]
        run: ./gradlew mifospay:lint

      - name: Upload Static Analysis Report For MifosPay Module
        uses: actions/upload-artifact@v2.2.0
        if: failure()
        with:
          name: Static Analysis Report[Mifospay]
          path: mifospay/build/reports/

  pmd:
    name: PMD
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: PMD Check[Core]
        run: ./gradlew core:pmd

      - name: Upload PMD Report[Core]
        uses: actions/upload-artifact@v2.2.0
        if: failure()
        with:
          name: PMD Report[Core]
          path: core/build/reports/

      - uses: actions/checkout@v2
      - name: PMD Check[MifosPay]
        run: ./gradlew mifospay:pmd

      - name: Upload PMD Report[MifosPay]
        uses: actions/upload-artifact@v2.2.0
        if: failure()
        with:
          name: PMD Report[MifosPay]
          path: mifospay/build/reports/
